* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
	background-color: #eaac8b;
}

.regPage {
	background-image: url("./../images/kakashi.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

.login {
	background-image: url("./../images/naruto2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

.coursebg {
	background-image: url("./../images/narutoto.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}
.navbar{
	background-color: #AD8261!important; 
	color: black !important;
}

.footer{
	background-color: #AD8261!important; 
}


#landingPage {
	background-image: url("./../images/akatsuki.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*justify-content: center;*/
	min-height: 100vh;

}

.jumbotron {
  background-color: #e76f51;
}

.landingHeading {
	font-family: 'Reggae One', cursive;
	text-shadow: 3px 2px 3px #e76f51;
	font-size: 45pt;
}

.lead {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30pt;
	font-stretch: 10px;
	font-weight: bold;
	text-shadow: 3px 2px 3px white;
}

/*test landing page button*/
.wrapper{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.link_wrapper{
  position: relative;
}*/

a{
  display: block;
  width: 150px;
  
  font-weight: bold;
  text-decoration: none;
  /*background: #e76f51;*/
  text-align: center;
  color: #353535;
  text-transform: uppercase;
  letter-spacing: 1px;
/*  border: 3px solid #333;*/
  transition: all .35s;
}

#btnMain {
  background: #e76f51;
  border: 3px solid #333;
  line-height: 50px;
  margin:auto; 
  margin-top: 40px;
  /*text-align:center !important;*/
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  /*transition: all .35s;*/
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #353535;
  transition: all .35s;
}

a:hover{
  width: 200px;
  border: 3px solid #353535;
  background: #e76f51;
  color: #353535;
}

/*a:hover + .icon{
  border: 3px solid #353535;
  right: -25%;
}*/
/*end*/

/*next Page*/
#nextPage {
	min-height: 100vh;
	background-color: #eaac8b;
	margin: 0px;
	padding: 0px;

}

.nextHeading {
	font-family: 'Reggae One', cursive;
	text-shadow: 3px 2px 3px #e76f51;
	font-size: 30pt;
	text-align: center;
}

.card-body {
	min-height: 70vh;
	/*margin-bottom: 20px;*/
}

.courseCss {
	min-height: 15vh;
}

.card1 {
	background-image: url("./../images/sasuke.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.card2{
	background-image: url("./../images/naruto.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.card3{
	background-image: url("./../images/sakura.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.card-text {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: white !important;
	text-shadow: 3px 2px 3px black;
}

.n2 {
	font-family: 'Reggae One', cursive;
	text-align: center;
	font-weight: bold;
	color: white !important;
	text-shadow: 3px 2px 3px black;
}

input {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid #000000;
    font-family: 'Roboto Mono', sans-serif;
}

::placeholder { 
  color: white !important;
  opacity: 1; 
  font-family: 'Roboto Mono', sans-serif;
}


.h2Reg, .h2Login {
	font-family: 'Reggae One', cursive;
	text-shadow: 3px 2px 3px #e76f51;
	font-size: 30pt;
	text-align: center;
}

/* Customize buttons, Register*/

.btnCss, #addCoursebtn, .addBtn, .editProfbtn {
  transition-duration: 0.4s;
  font-family: 'Roboto Mono', sans-serif;
}

.btnCss, #addCoursebtn, .addBtn, .editProfbtn:hover {
  background-color: #e76f51;
  color: white;
}

.btnReg, #addCoursebtn, .editProfbtn{
  background-color: transparent; 
  color: white;
}

#viewButton:hover {
  width: auto;
  border: 3px solid #353535;
  background: #e76f51;	
  color: #353535;
}

#editButton:hover {
  width: auto;
  border: 3px solid #353535;
  background: #e76f51;	
  color: #353535;
}

#selectBtn:hover {
  width: auto;
  border: 3px solid #353535;
  background: #e76f51;	
  color: #353535;
}

.btnReg:hover {
  width: auto;
  border: 3px solid #353535;
  background: #e76f51;	
  color: #353535;
}



/*End button register*/

.courseCss {
	background-color: #AD8261 !important;
	opacity: 0.6;
	 font-family: 'Roboto Mono', sans-serif;
}

.card-footer {
	background-color: #AD8261 !important;
	font-family: 'Roboto Mono', sans-serif;
}

.jumboText {
  font-family: 'Roboto Condensed', sans-serif !important;
}

h5.card-title {
  color: black !important;
  font-weight: bold;
}

h2.text-info {
  font-family: 'Roboto Mono', sans-serif;
  color: black !important;
}

